<!DOCTYPE html>
<html>
<head>
  
</head>
<body>
  <div class="container">
    <div class="nav">
  <ul>
    <li><a href="#">Home</a></li>
    
    <li><a href="../articles/new">Create Article</a></li>
    <li><%= link_to 'Article List', articles_path %></li>
  </ul>
    
    </div>
  <div class="main">
      <h1> Welcome to Readit</h1>
  <h3></h3>
  <h1>Do you require expert reviews on new gadgets? We review everything from ipad, iphone to android devices. Read reviews about new gadgets. Share your reviews with the world? </h1>
  
    
 
  
  <!DOCTYPE html>
<html>
<body>
<br><br>
<div id="v1"><iframe width="450" height="450" src="https://www.youtube.com/embed/P3MUYUv-P9Y?autoplay=1">

</iframe></div>
<br><br>

<div id="v1"><img src="http://cdn-media.vtechphones.com/in-the-news/logos/2013/Oct/vtech-is7121-2-audiovideo-doorbell-review/gadget.png"/ >
<br><br>
<img src= "http://www.gadgetreview.com/wp-content/uploads/2014/08/gadgets-and-gear-reviews-1.jpg"/ ></div>

</body>
</html>
    </div>

  </div>
</body>
</html>








